@using Microsoft.AspNetCore.Identity
@model IEnumerable<Reservation.WebUI.ViewModel.CardHomeViewModel>
@{
    ViewData["Title"] = "Trips";
}

<h2 style="text-align: center ">Trips</h2>
<hr style="text-align: center " />

<div style="margin-left: 70%;display: inline-block">
    @using (Html.BeginForm("Index", "Home", FormMethod.Get))
    {


        @Html.TextBox("name") <input type="submit" value="Search " />
    }
</div>
<hr />
<div class="card-content">
    <div class="card-items">
        @foreach (var trip in Model)
        {

            <div class="card">

                <div class="image">
                    <img src="https://thealmanian.com/wp-content/uploads/2019/01/product_image_thumbnail_placeholder.png">
                </div>
                <p>@(trip.Title.Length>25?$"{trip.Title.Substring(0,25)}.." : trip.Title)</p>

                <div>
                    <p class="price">$ @trip.Price </p>
                    @*<p class="price-di">$ @card.Discount</p>*@
                </div>

                <p>@(trip.CityName)</p>

                @if (@ViewBag.data == null)
                {
                    <p>


                        <form asp-controller="Account" asp-action="Login" asp-route-id="@trip.Id">
                            <input type="submit" value="Reservation" style="width: 100% ; " class="btn btn-outline-primary" />
                        </form>

                    </p>
                }
                else
                {
                    <p>

                        <form asp-controller="Home" asp-action="Reservation" asp-route-id="@trip.Id" asp-route-tripId="@trip.Id">
                            <input type="submit" value="Reservation" style="width: 100% ;" class="btn btn-outline-primary" />
                        </form>


                    </p>
                }
            </div>

        }
    </div>
</div>